<server>
	<xmpp-component
		server_name="localhost"
		server_address="localhost"
		component_port="5560"
		component_password="secret"
		component_name="chessd.localhost"
	/>
    <database
        host=""
        port=""
        db_name="chessd"
        user=""
        password=""
        max_connections="50"
    />
    <log
        filename="log/chessd.log"
    />
</server>
