<server>
	<rating-component
		server_address="localhost"
		server_port="5560"
		server_password="secret"
		node_name="rating.shiva"
	/>
	<game-component
		server_address="localhost"
		server_port="5561"
		server_password="secret"
		node_name="games.shiva"
	/>
	<match-component
		server_address="localhost"
		server_port="5562"
		server_password="secret"
		node_name="match.shiva"
	/>

	<admin-component
		server_address="localhost"
		server_port="5563"
		server_password="secret"
		node_name="admin.shiva"
        server_name="shiva"
	/>

    <database
        host="localhost"
        port="5432"
        db_name="chessd-dev"
        user="raphael"
        password="raphael"
    />
    <log
        filename="log/chessd.log"
    />
</server>
