<server>
	<rating-manager
		server_address="localhost"
		server_port="5560"
		server_password="secret"
		node_name="rating.shiva"
	/>
	<game-manager
		server_address="localhost"
		server_port="5561"
		server_password="secret"
		node_name="games.shiva"
	/>
	<match-manager
		server_address="localhost"
		server_port="5562"
		server_password="secret"
		node_name="match.shiva"
	/>
    <database
        host="localhost"
        port="5432"
        db_name="chessd-dev"
        user="raphael"
        password="raphael"
    />
    <log
        filename="log/chessd.log"
    />
</server>
